<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Freestyle!
      </h1>
      <h2 class="subtitle">
        Please select a menu at the top.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container content">
    <h1>h1</h1>
    <p>
      paragraph
    </p>
  </div>
</section>
